@import '../../common/styles/sass/variables.scss';

.mainBlock {
  min-height: 100vh;
  //background: url("src/assets/image/background.jpg");
background-color: $bgColor;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }

  .home {
    display: flex;
    align-items: center;
    color: $textColor;
  }


  .content {
   margin-left: 100px;
  }
  .photo {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-color: $bgTitle;
  }
}


