.footer {
    background-color: #1f1f20;
    min-height: 100vh;
}

.footerTitle {
    color: #fff;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconsBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons {
    height: 200px;
    width: 200px;
    background-color: #252527;
    margin: 20px;
}

.runningTitle {
    color: #fff;
}